.expense-con {
  display: block;
  padding: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #191d2b;
  color: #fff;
}

.expense-con .expense-heading {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  color: #45a1d6;
  text-transform: uppercase;
}

.expense-con .total-expense-con {
  background-color: #304a6e;
  color: #fff;
  border: 2px solid #fff;
  padding: 20px;
  margin: 10px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.expense-con .main-content {
display: flex;
flex-direction: row;
max-height: 90vh;
}

.expense-con .main-content .left-content {
flex: 1;
margin: 10px;
display: flex;
flex-direction: column;
}

.expense-con .main-content .right-content {
flex: 2;
margin: 10px;
display: flex;
flex-direction: column;
background-color: #304a6e;
color: #fff;
border: 2px solid #fff;
border-radius: 15px;
text-align: center;
padding: 5px;
box-shadow: var(--box-shadow);
}

.expense-con .main-content .right-content .history-heading {
font-size: 24px;
display: flex;
justify-content: center;
margin-bottom: 2rem;
color: #fff;
}

.expense-con .main-content .right-content .history-item-con {
  background: #191d2b;
  border: 2px solid #fff;
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.expense-con .main-content .right-content .history-item-con .category-icon {
flex: 1;
justify-content: center;
align-items: center;
margin-right: 20px;
}

.expense-con .main-content .right-content .history-item-con .history-item-details {
flex: 1;
display: flex;
flex-direction: row;
align-items: center;
}

.expense-con .main-content .right-content .history-item-con .history-item-details .info {
flex: 10;
text-align: justify;
padding: 1rem;
}

.expense-con .main-content .right-content .history-item-con .img-con {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.expense-con .main-content .right-content .history-item-con .img-con img {
  max-width: 100%;
  height: auto;
}

.expense-con .main-content .right-content .history-item-con .history-title {
font-size: 18px;
font-weight: bold;
color: #fff;
margin-bottom: 10px;
}

.expense-con .main-content .right-content .history-item-con .edit {
flex: 1;
}

.expense-con .main-content .right-content .history-item-con .delete {
flex: 1;
}

.expense-con .main-content .right-content .history-item-con .history-item-details .history-info {
display: grid;
grid-template-columns: auto auto auto;
font-size: 14px;
text-align: left;
}

.expense-con .amount {
  color: #ff7675;
}