.view-transactions-con {
  display: block;
  padding: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #191d2b;
  color: #fff;
}

.view-transactions-con .view-transactions-heading {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  color: #45a1d6;
  text-transform: uppercase;
}

.view-transactions-con .view-transactions-table-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-income-table,
.view-expenses-table {
  width: 100%; /* Set the width to 100% to fill the container */
  border-collapse: collapse; /* Collapse borders to avoid double borders */
  margin-bottom: 20px; /* Add some margin to separate the tables */
}

.view-income-table th,
.view-income-table td,
.view-expenses-table th,
.view-expenses-table td {
  border: 1px solid #ddd; /* Add a 1px solid border with a light gray color */
  padding: 8px; /* Add some padding to the cells for better spacing */
}

.view-income-table th,
.view-expenses-table th {
  background-color: #202d41; /* Add a background color to the table headers */
}

.action {
    display: flex;
    gap: 5px;
    justify-content: center;
}