.analysis-con {
  padding: 20px;
  flex: 1;
  background-color: var(--background-color-2);
  color: var(--white);
  border-radius: var(--border-radius);
  width: 100%;
}

.analysis-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.analysis-item,
.charts {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.analysis-item ul {
  list-style-type: none;
}

.analysis-item li {
  font-size: var(--font-size-3);
  text-transform: capitalize;
  text-align: center;
}

.analysis-item p {
  font-size: 32px;
}

.charts {
  display: flex;
  align-items: center;
  width: 100%;
}

.charts .chart {
  flex: 1;
  text-align: center;
  width: 90%;
}

@media (max-width: 1024px) {
  .charts {
    flex-direction: column;
  }
}