.analysis-con {
  display: block;
  padding: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #191d2b; /* Dark background color */
  color: #fff; /* Light text color */
}

.analysis-con .main-content .left-content {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.analysis-con .main-content .right-content {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.analysis-con {
  display: flex; /* Make the container a flexbox */
  flex-wrap: wrap; /* Wrap items if they overflow the container width */
  width: 100%; /* Set the container width to 100% */
  margin: 0 auto; /* Center the container horizontally */
  background-color: #191d2b; /* Dark background color */
  color: #fff; /* Light text color */
}

.analysis-item,
.charts {
  flex: 1 1 auto; /* Make each item and chart section flexible */
  margin: 10px; /* Add some margin between items */
  border: 1px solid #ddd; /* Add a border for visual separation */
  padding: 10px; /* Add some padding inside the items */
}

.analysis-item p {
  font-size: 32px;
}

.charts {
  display: flex; /* Make the charts section a flexbox */
  justify-content: space-between; /* Space the charts evenly within the section */
  color: #fff;
}

.chart {
  flex: 1; /* Make each chart half the width of the charts section */
  text-align: center; /* Center the chart titles */
}