.chart {
  background: var(--background-color-3);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: var(--border-radius);
  height: 40vh;
  place-items: center;
}

.dashboard-con {
  padding: 20px;
  flex: 1;
  background-color: var(--background-color-2);
  color: var(--white);
  border-radius: var(--border-radius);
}

.con {
  background-color: var(--background-color-3);
  color: var(--white);
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: var(--border-radius);
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.con span {
  color: var(--primary-color);
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-content,
.right-content {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.history-con {
  height: 100%;
  background-color: var(--background-color-3);
  color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
