form {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: all;
  gap: 33px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 8px;
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  background-color: var(--background-color-2);
  color: var(--white);
}

input::placeholder,
textarea::placeholder {
  color: var(--white);
}
