.history {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.history .history-item {
  flex: 1;
  background: var(--background-color-2);
  border: 2px solid var(--white);
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.history .history-item p {
  font-size: 18px;
  text-transform: capitalize;
  color: var(--white);
}

.history .history-item .expense {
  color: var(--expense-color);
}

.history .history-item .income {
  color: var(--income-color);
}
