@import "./theme.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color-1);
  color: var(--white);
  font-family: var(--font-family);
}


h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--primary-color); 
}

h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
}
h3 {
  font-size: var(--font-size-3);
}
p {
  font-size: var(--font-size-4);
}


button {
  padding: 0.75rem 1rem;
  background-color: var(--edit-btn-color);
  border: none;
  color: var(--white);
  font-size: var(--font-size-4);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--edit-btn-hover-color);
}

.delete-btn {
  background-color: var(--delete-btn-color); 
}

.delete-btn:hover {
  background-color: var(--delete-btn-hover-color); 
}


.container {
  display: flex;
  height: 90vh;
  width: 90vw;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow); 
  background-color: var(
    --background-color-4
  ); 
}

.left-con {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color-2);
  padding: 20px;
  margin: 10px;
  border-radius: var(--border-radius);
}

.right-con {
  display: flex;
  flex-direction: column;
  flex: 5;
  width: 100vw;
  background-color: var(--background-color-2);
  margin: 10px;
  border-radius: var(--border-radius);
  overflow-y: auto;
  overflow-x: hidden;
}


.header {
  margin-bottom: 20px; 
  text-align: center;
}

.header-title {
  font-size: var(--font-size-3);
}

.user {
  color: var(--primary-color);
}


.navigation {
  display: flex;
  flex-direction: column;
}

.choose-nav {
  background-color: var(--background-color-3); 
  padding: 10px;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  text-transform: uppercase; 
}

.choose-nav:hover {
  background-color: var(--background-color-4); 
}

.active .text-wrapper {
  
  color: var(--primary-color);
}

.text-wrapper {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


.toggle-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: rgba(0, 126, 255, 0.1);
  border: none;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 0;
    overflow: auto;
  }

  .left-con {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1001;
    border-radius: 0;
    background-color: var(--background-color-3);
    transition: transform 0.3s ease-in-out;
  }
  .left-con.collapsed {
    transform: translateX(-110%);
  }
  .left-con.visible {
    transform: translateX(0);
  }

  .right-con {
    margin: 0;
    border-radius: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 20px;
  }

  .toggle-button {
    display: block;
  }
}
